<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/style.css" media="all" />
    <script defer src="../static/script.js" type="text/javascript"></script>
    <title>TicTacToe</title>
  </head>
  <body scroll="no">
    <section class="container">
      <div id="index-00" class="cell"></div>
      <div id="index-01" class="cell"></div>
      <div id="index-02" class="cell"></div>
      <div id="index-10" class="cell"></div>
      <div id="index-11" class="cell"></div>
      <div id="index-12" class="cell"></div>
      <div id="index-20" class="cell"></div>
      <div id="index-21" class="cell"></div>
      <div id="index-22" class="cell"></div>
    </section>
    <footer class="footer">
      <p class="text">
        Made with 💖 by
        <a target="_blank" href="https://github.com/JosefBH">JosefBH</a>
        !
      </p>
    </footer>
  </body>
</html>
